* {
  box-sizing: border-box;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: linear-gradient(to right, #f39e6f, #ec86c4);
  font-size: 16px;
  margin: 1rem;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:focus,
button:focus {
  outline: 0.125rem dashed #ffd4ff;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 50rem;
}

h1 {
  font-size: 3rem;
  margin: 0 0 0.5em;
}

p {
  font-size: 1.1rem;
}

a {
  color: black;
}

input {
  border: 0.2rem solid #000;
  padding: 0.5rem 0.9rem;
}

input:focus {
  outline: 0.2rem dashed #fff;
}

ul {
  padding-left: 1rem;
}

search {
  display: block;
  padding: 2rem;
}
